.Order {
    border: solid 2px;
    width: 121px;
    margin: 10px;
    padding: 10px 5px 29px 41px;
    margin-right: 800px;
    float: right;
}

.emptyOrder {
    margin-left: -15px;
    margin-bottom: -7px;
}